<br><br>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-8 col-xl-5">
          <img src="https://wallpapercave.com/wp/wp7001215.jpg" width="80%" class="img-fluid" alt="Sample image"/>
        </div>
        <div class="col-4">
            <div class="card  border-primary">
               <div class="card-header border-0 bg-primary">
           <h5 class="mb-0 text-white">User Registration</h5>
               </div>
               <form style="padding:20px">
                <div class="input-group">
                    <label class="col-sm-6 col-form-label">First Name</label>
                      
                    <div class="input-group-prepend">
                      
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-id-card	"></i></span>
                    </div>
                    <input type="text" name="firstname" class="form-control" aria-label="name" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group">
                    <label class="col-sm-6 col-form-label">Last Name</label>
                      
                    <div class="input-group-prepend">
                      
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-id-card	"></i></span>
                    </div>
                    <input type="text" name="lastname" class="form-control" aria-label="name" aria-describedby="basic-addon1">
                  </div>


                  
                <div class="input-group">
                  <label class="col-sm-6 col-form-label">Email</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input type="text" name="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <label class="col-sm-6 col-form-label">Password</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                  </div>
                  <input type="text" name="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <label class="col-sm-6 col-form-label">Confirm Password</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                  </div>
                  <input type="text" name="Cpassword" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <label class="col-sm-6 col-form-label">Contact Number</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text" name="contactnumber" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                
                <div class="text-center mt-4" >
                    <button type="Submit" (click)="UserRegister()" class="btn btn-primary">Register</button>
                </div>
        </form>
            </div>
        </div>
      </div>
    </div>
    
  </section>