<section>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" routerLink="./">Admin DashBoard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/manageproduct">Manage Product<span class="sr-only">(current)</span></a>
          </li>
             
        </ul>
        <div class="form-inline my-2 my-lg-0">
        
          <a routerLink="/admin/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
        </div>
      </div>
    </nav>
  </section>
  