<br><br>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-8 col-xl-5">
          <img src="https://image.freepik.com/free-vector/online-shopping-website-mobile-app-concept-
          special-offer-fifty-percent-discount_278395-325.jpg" width="100%" class="img-fluid" alt="Sample image"/>
        </div>
        <div class="col-4">
            <div class="card  border-primary">
               <div class="card-header border-0 bg-primary">
           <h5 class="mb-0 text-white">Admin Login</h5>
               </div>
               <form style="padding:20px">
                
                <div class="input-group">
                  <label class="col-sm-12 col-form-label">Username</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <label class="col-sm-12 col-form-label">Password</label>
                    
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
                  </div>
                  <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                
                <div class="text-center mt-4" >
                    <button type="Submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
            </div>
        </div>
      </div>
    </div>
    
  </section>